.centered-heading {
    text-align: center; /* 文本居中 */
    margin-top: 150px; /* 向下偏移 50 像素 */
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    text-align: center;
}
.close-button {
    cursor: pointer;
}

.container {
    display: flex;
    width: 100%;
    justify-content: flex-start; /* 左对齐 */
    align-items: center;
    height: 80vh; /* 使用视口高度作为容器高度 */
}
.video-container {
    text-align: center;
    flex: 0 0 70%; /* 占据左边的 2/3 宽度 */
}
.chart-container {
    flex: 0 0 30%; /* 占据右边的 1/3 宽度 */
}

#videoElement {    /* video-container子元素 */
    width: 640px;
    height: 480px;
}

#canvasElement {   /* video-container子元素 */
    width: 640px;
    height: 480px;
    display: none; /* 初始化隐藏画布 */
}

#timeChart {       /* chart-container子元素 */
    width: 400px;
    height: 400px;
}

.point {
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    cursor: pointer;
}
#top_left { top: 10px; left: 10px; }
#top_right { top: 10px; right: 10px; }
#bottom_left { bottom: 10px; left: 10px; }
#bottom_right { bottom: 10px; right: 10px; }