<!DOCTYPE html>
<html>
<head>
    <title>Gaze Estimation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/timeChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/camera.js') }}"></script>
    <script src="{{ url_for('static', filename='js/event.js') }}"></script>
    <script src="{{ url_for('static', filename='js/visualizer.js') }}"></script>

</head>
<body>
    <h1 class="centered-heading">Camera Calibration & Gaze Estimation</h1>
    <div id="myModal" class="modal">
        <p>凝视并点击页面四个角点，随后进入视线估计</p>
        <span class="close-button" onclick="closeModal()">关闭</span>
    </div>
    <div class="container">
        <div class="video-container">   <!-- 包含一个视频和截图画布-->
            <video id="videoElement" autoplay></video>
            <canvas id="canvasElement"></canvas>
        </div>
        <div class="chart-container">   <!-- 包含一个饼图画布-->
            <canvas id="timeChart" width="400" height="400"></canvas>
        </div>
    </div>
    <div id="top_left" class="point"></div>
    <div id="top_right" class="point"></div>
    <div id="bottom_left" class="point"></div>
    <div id="bottom_right" class="point"></div>
    <script>
        // 显示模态框
        var modal = document.getElementById("myModal");
        modal.style.display = "block";

        // 关闭模态框
        function closeModal() {
            modal.style.display = "none";
        }

        // var socket = io.connect('http://' + document.domain + ':' + location.port);
        const socket = io();

        const video = document.getElementById('videoElement');
        const canvas_cap = document.getElementById('canvasElement');
        const ctx_cap = canvas_cap.getContext('2d');

        let timeChart; // 在全局范围内定义一个变量用于存储时间图表实例

        // 创建饼图测试
        if (!timeChart) {
            timeChart = new TimeChart('timeChart');
            timeChart.createChart();
        };

        // 记录正常和非正常时间
        let normalTime = 0;
        let abnormalTime = 0;

        // 声明全局变量保存视频流
        let globalStream;

        // 初始化页面时打开摄像头
        openCamera(video);

        // 点击事件处理函数
        async function handlePointClick(pointId) {
            try {
                // 获取视频流
                if (!globalStream) {
                    await openCamera(video); // 如果视频流不存在，则打开摄像头
                }

                const mediaStreamTrack = globalStream.getVideoTracks()[0];  // 后面也这样，会不会有问题
                const imageCapture = new ImageCapture(mediaStreamTrack);

                const blob = await captureFrame(imageCapture, canvas_cap, ctx_cap);
                const base64data = await blobToBase64(blob);
                socket.emit('point_and_image', {point_id: pointId, image: base64data});

            } catch (error) {
                console.error('Error occurred while grabbing the frame:', error);
            }
        }

        // 为每个点添加监听事件
        addEventListener('top_left', 'click', handlePointClick);
        addEventListener('top_right', 'click', handlePointClick);
        addEventListener('bottom_left', 'click', handlePointClick);
        addEventListener('bottom_right', 'click', handlePointClick);

        socket.on('point_and_image_status', function(data) {
            // 根据返回的状态更新对应的红点为绿色
            document.getElementById(data.point_id).style.backgroundColor = data.status === 'success' ? 'green' : 'red';
        });

        socket.on('start_estimation', function() {
            // 所有点都点击完成后，开始正式的视线估计任务
            // ...
            document.getElementById('top_left').style.display = 'none';
            document.getElementById('top_right').style.display = 'none';
            document.getElementById('bottom_left').style.display = 'none';
            document.getElementById('bottom_right').style.display = 'none';

            // 显示canvas_cap，同时切换布局
            document.getElementById('canvasElement').style.display = 'inline';
            canvas_cap.width = 640;
            canvas_cap.height = 480;

            // 正式开始视线估计
            console.log("start estimation");

            // 获取视频流
            if (!globalStream) {
                openCamera(video); // 如果视频流不存在，则打开摄像头
            }

            const mediaStreamTrack = globalStream.getVideoTracks()[0];
            const imageCapture = new ImageCapture(mediaStreamTrack);
            setInterval(async () => {
                try {
                    const blob = await captureFrame(imageCapture, canvas_cap, ctx_cap);
                    const base64data = await blobToBase64(blob);
                    socket.emit('image', base64data);
                } catch (error) {
                    console.error('Error occurred while grabbing the frame:', error);
                }
            }, 1000);

        });

        socket.on('gaze_result', data => {
            // 对每一张人脸绘制gaze_vector
            data.result.forEach(gaze_info => {
                // 绘制gaze vector
                drawLine(gaze_info.gaze_origin2d, gaze_info.gaze_point2d);
                // 绘制gaze区域box
                drawBox(data.bounding_box);
                // 绘制文字
                ctx_cap.font = '30px Arial';  // 设置字体样式
                ctx_cap.fillStyle = 'red';   // 设置文字颜色

                common_str = 'pitch=' + Math.floor(gaze_info.pitch) + '，yaw=' + Math.floor(gaze_info.yaw)
                const bound_angles = data.bound_angles;
                if (gaze_info) {
                    let bottom_ = gaze_info.pitch < bound_angles.pitch[0]
                    let top_ = gaze_info.pitch > bound_angles.pitch[1]
                    let left_ = gaze_info.yaw < bound_angles.yaw[0]
                    let right_ = gaze_info.yaw > bound_angles.yaw[1]

                    if (bottom_) {
                        ctx_cap.fillText(common_str  + '，下偏大于' + Math.floor(bound_angles.pitch[0]) + '，异常', 20, 40);
                    } else if (top_) {
                        ctx_cap.fillText(common_str  + '，上偏大于' + Math.floor(bound_angles.pitch[1]) + '，异常', 20, 40);
                    } else if (left_) {
                        ctx_cap.fillText(common_str  + '，左偏大于' + Math.floor(bound_angles.yaw[0]) + '，异常', 20, 40);
                    } else if (right_) {
                        ctx_cap.fillText(common_str  + '，右偏大于' + Math.floor(bound_angles.yaw[1]) + '，异常', 20, 40);
                    } else {
                        ctx_cap.fillText(common_str, 20, 40);
                    }

                    if (bottom_ || top_ || left_ || right_) {
                        abnormalTime += 1;
                    } else {
                        normalTime += 1;
                    }
                }
            })
        });

        // 每隔3s更新一次chart结果
        setInterval(() => {
            timeChart.updateChartData(normalTime, abnormalTime)
        }, 3000);

    </script>
</body>
</html>
